@model NewReminderASP.Domain.Entities.Event

@{
    ViewBag.Title = "Create Event";
}

<link href="~/styles.css" rel="stylesheet" />
<div class="create-form">
    <h2>Add Event</h2>

    @using (Html.BeginForm("Create", "Event", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        <h4>Event</h4>

        <!-- Event Type Selection -->
        <div class="form-group">
            @Html.LabelFor(model => model.EventTypes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.EventTypes, new SelectList(Model.EventsTypes, "TypeName", "TypeName"), "Select Event Type", new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.EventTypes, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Title Input -->
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Your Title" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Date Selection with Datepicker -->
        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Date, new { @class = "form-control datepicker", placeholder = "Select Date" })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Time Input -->
        <div class="form-group">
            @Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Time" } })
                @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Recurrence Selection -->
        <div class="form-group">
            @Html.LabelFor(model => model.Recurrence, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Recurrence, new SelectList(Model.EventRecurrences, "RecurrenceType", "RecurrenceType"), "Select Recurrence", new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Recurrence, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Reminder Input -->
        <div class="form-group">
            @Html.LabelFor(model => model.Reminders, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reminders, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Your Reminder" } })
                @Html.ValidationMessageFor(model => model.Reminders, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Submit Button -->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Create Event</button>
            </div>
        </div>
    }
</div>

<div class="row mt-2">
    <div class="col-md-6">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>


    <!-- jQuery and jQuery UI library links -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">

    <script>
   $(function () {
       $('.datepicker').datepicker({
           dateFormat: "yy-mm-dd"
       });
   });
</script>
