@model NewReminderASP.Domain.Entities.EventRecurrence
@{
    ViewBag.Title = "Event Recurrence";
}

<style>
    h2 {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .form-horizontal {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

        .form-horizontal .form-group {
            margin-bottom: 20px;
            overflow: hidden;
            text-align: left;
        }

        .form-horizontal .form-control {
            display: inline-block;
            text-align: left;
            margin: 0 auto;
        }
    .btn-save {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
    }

        .btn-save:hover {
            background-color: #218838;
        }


    .btn-back {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
    }

        .btn-back:hover {
            background-color: #0056b3;
</style>

<h2>Add Event Recurrence</h2>

@using (Html.BeginForm("CreateEventRecurrences", "Event", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div>

        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.RecurrenceType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RecurrenceType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RecurrenceType, "", new { @class = "text-danger" })
            </div>
        </div>

      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn-save btn-primary" />
            </div>
        </div>
    </div>
}

<div class="row mt-2">
    <div class="col-md-6">
        @Html.ActionLink("Back to List", "GetEventRecurrences", null, new { @class = "btn-back" })
    </div>
</div>



      
