@model NewReminderASP.Domain.Entities.EventType

@{
    ViewBag.Title = "Event Type";
}

<link href="~/styles.css" rel="stylesheet" />


<h2>Event Type</h2>

<div class="details-details">
    <h4>Event Type: @Model.TypeName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.TypeName)</dt>
        <dd>@Html.DisplayFor(model => model.TypeName)</dd>


    </dl>



    <div class="btn-group" role="group" aria-label="User actions">
        @Html.ActionLink("Edit", "EditEventTypes", new { id = Model.ID }, new { @class = "btn " })
        @Html.ActionLink("Delete", "DeleteEventType", new { id = Model.ID }, new { @class = "btn " })
        @Html.ActionLink("Back to List", "GetEventTypes", null, new { @class = "btn " })
    </div>
</div>