@model NewReminderASP.Domain.Entities.EventDetail


@{
    ViewBag.Title = "Edit Event Detail";
}

<link href="~/styles.css" rel="stylesheet" />

<div class="edit-container">
    
    <h2>Edit Detail: @Model.EventID</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.HiddenFor(model => model.EventID)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "edit-control-label" })
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "edit-form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "edit-control-label" })
            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "edit-form-control" } })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-save">Save</button>
        </div>
    }
</div>

<div class="row mt-2">
    <div class="col-md-6">
        @Html.ActionLink("Back to List", "GetEventDetails", null, new { @class = "btn-back" })
    </div>
</div>
