@model IEnumerable<NewReminderASP.Domain.Entities.EventRecurrence>

@{
    ViewBag.Title = "Event Recurrence";
}

<link href="~/styles.css" rel="stylesheet" />
<div class="form-container">


    <h2>Event Recurrence</h2>

    <<form action="@Url.Action("GetEventRecurrences")" method="get">
        <div class="filter-bar">
            <label for="orderBy">Sort by:</label>
            <select id="orderBy" name="orderBy">
                <option value="ID">ID</option>
                <option value="RecurrenceType">RecurrenceType</option>
                
            </select>
            <label for="sortOrder">Order:</label>
            <select id="sortOrder" name="sortOrder">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
            <input type="submit" value="Filter" class="btn" />
        </div>

        <table class="table-eco">
            <tr>
            <th>@Html.ActionLink("ID", "GetEventRecurrences", new { orderBy = "ID", sortOrder = ViewBag.OrderBy == "ID" && ViewBag.SortOrder == "asc" ? "desc" : "asc" })</th>
            <th>@Html.ActionLink("RecurrenceType", "GetEventRecurrences", new { orderBy = "RecurrenceType", sortOrder = ViewBag.OrderBy == "RecurrenceType" && ViewBag.SortOrder == "asc" ? "desc" : "asc" })</th>
           
        @foreach (var eventRecurrence in Model)
        {
            <tr>

                <td>@eventRecurrence.ID</td>
                <td>@Html.ActionLink(!string.IsNullOrEmpty(eventRecurrence.RecurrenceType) ? eventRecurrence.RecurrenceType : "Default Name", "DetailsEventRecurrences", "Event", new { id = eventRecurrence.ID }, null)</td>
            </tr>
        }
    </table>
    </form>
    <div class="pagination">
        @if (ViewBag.CurrentPage > 1)
        {
            <a href="@Url.Action("GetEventRecurrences", new { orderBy = ViewBag.OrderBy, sortOrder = ViewBag.SortOrder, page = ViewBag.CurrentPage - 1 })" class="btn btn-eco">Previous</a>
        }



        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <a href="@Url.Action("GetEventRecurrences", new { orderBy = ViewBag.OrderBy, sortOrder = ViewBag.SortOrder, page = ViewBag.CurrentPage + 1 })" class="btn btn-eco">Next</a>
        }
  
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <a href="@Url.Action("GetEventRecurrences", new { orderBy = ViewBag.OrderBy, sortOrder = ViewBag.SortOrder, page = i })" class="@(i == ViewBag.CurrentPage ? "active" : "")">@i</a>
        }

    </div>
</div>