@model IEnumerable<NewReminderASP.Domain.Entities.EventDetail>

@{
    ViewBag.Title = "Event Detail";
}

<<link href="~/styles.css" rel="stylesheet"/>
<div class="form-container">

    <h2>Event Detail</h2>

    <a href="@Url.Action("CreateAdminEvent", "Event", new { area = "EventsArea" })" class="btn btn-primary">Create Event</a>
    <a href="@Url.Action("CreateEventDetails", "Event", new { area = "EventsArea" })" class="btn btn-btn btn-primary">Create Detail Event</a>
    <a href="@Url.Action("CreateEventRecurrences", "Event", new { area = "EventsArea" })" class="btn btn-primary">Create Event Recurrences</a>
    <a href="@Url.Action("CreateEventTypes", "Event", new { area = "EventsArea" })" class="btn btn-primary">Create Event Types</a>

    <form action="@Url.Action("GetEventDetails")" method="get">
        <div class="filter-bar">
            <label for="orderBy">Sort by:</label>
            <select id="orderBy" name="orderBy">
                <option value="EventID">EventID</option>
                <option value="Description">Description</option>
                <option value="Status">Status</option>

            </select>
            <label for="sortOrder">Order:</label>
            <select id="sortOrder" name="sortOrder">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
            <input type="submit" value="Filter" class="btn"/>
        </div>

        <table class="table-eco">
            <tr>
                <th>@Html.ActionLink("EventID", "GetEventDetails", new { orderBy = "EventID", sortOrder = ViewBag.OrderBy == "EventID" && ViewBag.SortOrder == "asc" ? "desc" : "asc" })</th>
                <th>@Html.ActionLink("Description", "GetEventDetails", new { orderBy = "Description", sortOrder = ViewBag.OrderBy == "Description" && ViewBag.SortOrder == "asc" ? "desc" : "asc" })</th>
                <th>@Html.ActionLink("Status", "GetEventDetails", new { orderBy = "Status", sortOrder = ViewBag.OrderBy == "Status" && ViewBag.SortOrder == "asc" ? "desc" : "asc" })</th>


            </tr>
            @foreach (var eventDetail in Model)
            {
                <tr onclick="redirectToDetails('@Url.Action("DetailsEventDetails", "Event", new { id = eventDetail.EventID })')">
                    <td>@eventDetail.EventID</td>
                    <td>@eventDetail.Description</td>
                    <td>@eventDetail.Status</td>
                </tr>
            }
        </table>
    </form>
    <div class="pagination">
        @if (ViewBag.CurrentPage > 1)
        {
            <a href="@Url.Action("GetEventDetails", new { orderBy = ViewBag.OrderBy, sortOrder = ViewBag.SortOrder, page = ViewBag.CurrentPage - 1 })" class="btn btn-eco">Previous</a>
        }


        @for (var i = 1; i <= ViewBag.TotalPages; i++)
        {
            <a href="@Url.Action("GetEventDetails", new { orderBy = ViewBag.OrderBy, sortOrder = ViewBag.SortOrder, page = i })" class="@(i == ViewBag.CurrentPage ? "active" : "")">@i</a>
        }

        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <a href="@Url.Action("GetEventDetails", new { orderBy = ViewBag.OrderBy, sortOrder = ViewBag.SortOrder, page = ViewBag.CurrentPage + 1 })" class="btn btn-eco">Next</a>
        }

    </div>

</div>
<script>
    function redirectToDetails(url) {
        window.location.href = url;
    }
</script>