@model NewReminderASP.Domain.Entities.EventDetail

@{
    ViewBag.Title = "Event Detail";
}

<style>

    .eventDetail-details {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
        max-width: 600px;
    }

        .eventDetail-details h2 {
            color: #333;
        }

        .eventDetail-details dl {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
        }

        .eventDetail-details dt {
            flex: 1 1 30%;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .eventDetail-details dd {
            flex: 1 1 70%;
            margin-bottom: 5px;
        }

        .eventDetail-details hr {
            border: 0;
            border-top: 1px solid #ddd;
            margin: 15px 0;
        }

        .eventDetail-details a {
            color: #007bff;
            text-decoration: none;
            margin-right: 10px;
        }
    .btn-group {
        text-align: center;
    }

        .btn-group .btn {
            color: #ffffff;
            background-color: #007bff;
            border-color: #007bff;
        }

            .btn-group .btn:hover {
                background-color: #0056b3;
                border-color: #0056b3;
            }
</style>


<h2>Event Detail</h2>

<div class="eventDetail-details">
    <h4>Country: @Model.EventID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.EventID)</dt>
        <dd>@Html.DisplayFor(model => model.EventID)</dd>
        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>
        <dt>@Html.DisplayNameFor(model => model.Status)</dt>
        <dd>@Html.DisplayFor(model => model.Status)</dd>

    </dl>
</div>

<div class="btn-group" role="group" aria-label="User actions">
    @Html.ActionLink("Edit", "EditEventDetails", new { id = Model.EventID }, new { @class = "btn " })
    @Html.ActionLink("Delete", "DeleteEventDetail", new { id = Model.EventID }, new { @class = "btn " })
    @Html.ActionLink("Back to List", "GetEventDetails", null, new { @class = "btn " })
</div>
