@model NewReminderASP.Domain.Entities.UserRole

@{
    ViewBag.Title = "Create User Role";
}

<link href="~/styles.css" rel="stylesheet"/>

<div class="create-form">
    <h2>Add User Role</h2>

    @using (Html.BeginForm("CreateUserRoleById", "User", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.UserId, "User:", new { @class = "control-label" })
            @Html.DropDownListFor(model => model.UserId, new SelectList(Model.Users, "Id", "Login"), "Select User", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoleId, "Role:", new { @class = "control-label" })
            @Html.DropDownListFor(model => model.RoleId, new SelectList(Model.Roles, "Id", "Name"), "Select Role", new { @class = "form-control" })
            @*@Html.ListBoxFor(model => model.RolesId, new SelectList(Model.Roles, "Id", "Name"), new { @class = "edit-form-control", size = 5 })*@
            @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    }
</div>

<div class="row mt-2">
    <div class="col-md-6">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>