@model NewReminderASP.Domain.Entities.User

@{
    ViewBag.Title = "User Details";
}

<link href="~/styles.css" rel="stylesheet" />


<div class="details-details">
    <h2>User Details: @Model.Login</h2>

    <div>
        <h4>User ID: @Model.Id</h4>
        <hr />
        <dl>
            <dt>@Html.DisplayNameFor(model => model.Login)</dt>
            <dd>@Html.DisplayFor(model => model.Login)</dd>

            <dt>Roles</dt>
            <dd>
                <ul class="roles-list">
                    @foreach (var role in Model.UserRoles)
                    {
                        <li>@role.Role.Name</li>
                    }
                </ul>
            </dd>

            <dt>@Html.DisplayNameFor(model => model.Email)</dt>
            <dd>@Html.DisplayFor(model => model.Email)</dd>
        </dl>
    </div>

    <div class="btn-group" role="group" aria-label="User actions">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn " })
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn " })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn " })
    </div>
</div>
