@model NewReminderASP.Domain.Entities.UserDetailsViewModel

@{
    ViewBag.Title = "User Details";
}

<link href="~/styles.css" rel="stylesheet"/>
<div class="details-details">

    <h2>User Details: @Model.User.Login</h2>
    <h2>User ID: @Model.User.Id</h2>
    <div>
        <dl>
            <dt>@Html.DisplayNameFor(model => model.User.Login)</dt>
            <dd>@Html.DisplayFor(model => model.User.Login)</dd>

            <dt>Roles</dt>
            <dd>
                <ul class="roles-list">
                    @foreach (var role in Model.User.UserRoles)
                    {
                        <li>@role.Role.Name</li>
                    }
                </ul>
            </dd>

            <dt>@Html.DisplayNameFor(model => model.User.Email)</dt>
            <dd>@Html.DisplayFor(model => model.User.Email)</dd>

            <dt>@Html.DisplayNameFor(model => model.PersonalInformation.FirstName)</dt>
            <dd>@Html.DisplayFor(model => model.PersonalInformation.FirstName)</dd>
            <dt>@Html.DisplayNameFor(model => model.PersonalInformation.LastName)</dt>
            <dd>@Html.DisplayFor(model => model.PersonalInformation.LastName)</dd>
            <dt>@Html.DisplayNameFor(model => model.PersonalInformation.MiddleName)</dt>
            <dd>@Html.DisplayFor(model => model.PersonalInformation.MiddleName)</dd>
            <dt>@Html.DisplayNameFor(model => model.PersonalInformation.Birthdate)</dt>
            <dd>@Html.DisplayFor(model => model.PersonalInformation.Birthdate)</dd>
            <dt>@Html.DisplayNameFor(model => model.PersonalInformation.Gender)</dt>
            <dd>@Html.DisplayFor(model => model.PersonalInformation.Gender)</dd>

            @for (var d = 0; d < Model.Phones.Count; d++)
            {
                <div>

                    <h5>@Model.User.Login's phone @(d + 1)</h5>
                    <dl>
                        <dt>Phone Number:</dt>
                        <dd>@Model.Phones[d].PhoneNumber</dd>

                        <dt>Phone Type:</dt>
                        <dd>@Model.Phones[d].PhoneTypes</dd>

                        <dt>Country:</dt>
                        <dd>@Model.Phones[d].CountryName</dd>


                    </dl>
                </div>
            }

            @for (var i = 0; i < Model.Addresses.Count; i++)
            {
                <div>
                    <h5>@Model.User.Login's address @(i + 1)</h5>
                    <dl>
                        <dt>Street:</dt>
                        <dd>@Model.Addresses[i].Street</dd>

                        <dt>City:</dt>
                        <dd>@Model.Addresses[i].City</dd>

                        <dt>Country:</dt>
                        <dd>@Model.Addresses[i].CountryName</dd>

                        <dt>Postal Code:</dt>
                        <dd>@Model.Addresses[i].PostalCode</dd>

                        <dt>Description:</dt>
                        <dd>@Model.Addresses[i].Description</dd>
                    </dl>
                </div>
            }
        </dl>
    </div>

    <div class="btn-group" role="group" aria-label="User actions">
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "EditUserAndRoles", new { id = Model.User.Id }, new { @class = "btn" })
        }
        else
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.User.Id }, new { @class = "btn" })
        }
        @Html.ActionLink("Delete", "Delete", new { id = Model.User.Id }, new { @class = "btn" })
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
        }

        @Html.ActionLink("Edit info", "Edit", new { id = Model.PersonalInformation.UserID, area = "PersonInfoArea", controller = "Info" }, new { @class = "btn" })

        @Html.ActionLink("Edit address", "Index", new { area = "AddressArea", controller = "Address" }, new { @class = "btn" })

        @Html.ActionLink("Edit phone", "Index", new { area = "ContactsArea", controller = "Phone" }, new { @class = "btn" })



    </div>
</div>