@model NewReminderASP.Domain.Entities.UserAndRolesModel
@{
    ViewBag.Title = "Edit User";
}

<link href="~/styles.css" rel="stylesheet"/>

<div class="edit-container">
    <h2>Edit User: @Model.User.Login</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.User.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.User.Login, new { @class = "edit-control-label" })
            @Html.EditorFor(model => model.User.Login, new { htmlAttributes = new { @class = "edit-form-control" } })
            @Html.ValidationMessageFor(model => model.User.Login, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.User.Email, new { @class = "edit-control-label" })
            @Html.EditorFor(model => model.User.Email, new { htmlAttributes = new { @class = "edit-form-control" } })
            @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "text-danger" })
            @Html.LabelFor(model => model.User.ConfirmEmail, new { @class = "edit-control-label" })
            @Html.TextBoxFor(model => model.User.ConfirmEmail, new { @class = "edit-form-control", placeholder = "Confirm Email" })
            @Html.ValidationMessageFor(model => model.User.ConfirmEmail, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User.Password, new { @class = "edit-control-label" })
            @Html.EditorFor(model => model.User.Password, new { htmlAttributes = new { @class = "edit-form-control" } })
            @Html.ValidationMessageFor(model => model.User.Password, "", new { @class = "text-danger" })
            @Html.LabelFor(model => model.User.ConfirmPassword, new { @class = "edit-control-label" })
            @Html.PasswordFor(model => model.User.ConfirmPassword, new { @class = "edit-form-control" })
            @Html.ValidationMessageFor(model => model.User.ConfirmPassword, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label class="edit-control-label" for="UserRole_SelectedRoleIds">Select Roles:</label>
            <div id="UserRole_SelectedRoleIds" class="role-tiles" data-toggle="buttons">

                @foreach (var role in Model.UserRole.Roles)
                {
                    <label class="role-tile">
                        <input type="checkbox" name="SelectedRoles"
                               value="@role.Id" autocomplete="on"
                               @(Html.Raw(Model.UserRole.SelectedRoleIds != null && Model.UserRole.SelectedRoleIds.Contains(role.Id) ? "checked" : ""))/>
                        <span>@role.Name</span>
                    </label>
                }

                @Html.ValidationMessageFor(model => model.UserRole.SelectedRoleIds, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-save"/>
        </div>
    }
</div>

<div class="row mt-2">
    <div class="col-md-6">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })