<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta name="description" content="Your website description here">
    <meta name="keywords" content="key1, key2, key3">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="~/styles.css" rel="stylesheet">
</head>
<body>


@{
    var userLogin = User.Identity.Name;
    
    var userLink = Url.Action("Details", "User", new { area = "AccountsArea", userName = userLogin });
    
}

<div class="header-bar">
    <div class="links-container">
        @if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("Index", "User", new { area = "AccountsArea" })" class="center-link bigger-font"><i class="fas fa-home"></i><span class="icon-title-gap">Home</span></a>
            <div class="info user-info">
                <div class="user-info">
                    <i class="fas fa-user-circle"></i>
                    <span>User Login: <a href="@userLink">@userLogin</a></span>
                </div>
                <div class="logout-btn">
                    <a href="@Url.Action("SignOut", "Event")" class="btn btn-eco">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </div>
            </div>
        }
        else if (User.IsInRole("User"))
        {
            <a href="@Url.Action("Details", "Event", new { area = "EventsArea", userName = User.Identity.Name })" class="center-link bigger-font"><i class="fas fa-home"></i><span class="icon-title-gap">Home</span></a>
            <div class="info user-info">
                <div class="user-info">
                    <i class="fas fa-user-circle"></i>
                    <span>User Login: <a href="@userLink">@userLogin</a></span>
                </div>
                <div class="logout-btn">
                    <a href="@Url.Action("SignOut", "Event")" class="btn btn-eco">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </div>
            </div>
        }
        else
        {
            <a href="@Url.Action("IndexAnon", "Event", new { area = "EventsArea" })" class="center-link bigger-font"><i class="fas fa-home"></i><span class="icon-title-gap"> Demo</span></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        }
        <a href="~/Home/Contact" class="center-link bigger-font"><i class="fas fa-envelope"></i><span class="icon-title-gap">Contact</span></a>
        <a href="~/Home/About" class="center-link bigger-font"><i class="fas fa-info-circle"></i><span class="icon-title-gap">About</span></a>
    </div>



    </div>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer class="footer">
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
    <script src="~/scripts/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>