@model NewReminderASP.Domain.Entities.PersonalInfo
@{
    ViewBag.Title = "PersonalInfo Details";
}

<style>
    .info-details {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
        max-width: 600px;
    }

    .info-details h2 {
        color: #333;
    }

    .info-details dl {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .info-details dt {
        flex: 1 1 30%;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .info-details dd {
        flex: 1 1 70%;
        margin-bottom: 5px;
    }

    .info-details hr {
        border: 0;
        border-top: 1px solid #ddd;
        margin: 15px 0;
    }

    .info-details a {
        color: #007bff;
        text-decoration: none;
        margin-right: 10px;
    }
    .btn-group {
        text-align: center;
    }

        .btn-group .btn {
            color: #ffffff;
            background-color: #007bff;
            border-color: #007bff;
        }

            .btn-group .btn:hover {
                background-color: #0056b3;
                border-color: #0056b3;
            }
</style>

<h2>Info Details</h2>

<div class="info-details">
    <h4>User : @Model.Login</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd>@Html.DisplayFor(model => model.FirstName)</dd>
        <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd>@Html.DisplayFor(model => model.LastName)</dd>
        <dt>@Html.DisplayNameFor(model => model.MiddleName)</dt>
        <dd>@Html.DisplayFor(model => model.MiddleName)</dd>
        <dt>@Html.DisplayNameFor(model => model.Birthdate)</dt>
        <dd>@Html.DisplayFor(model => model.Birthdate)</dd>
        <dt>@Html.DisplayNameFor(model => model.Gender)</dt>
        <dd>@Html.DisplayFor(model => model.Gender)</dd>
    </dl>
</div>

 <div class="btn-group" role="group" aria-label="User actions">
     @Html.ActionLink("Edit", "Edit", new { id = Model.Login }, new { @class = "btn " })
     @Html.ActionLink("Delete", "Delete", new { id = Model.Login }, new { @class = "btn " })
     @Html.ActionLink("Back to List", "Index", null, new { @class = "btn " })
 </div>