
@model IEnumerable<NewReminderASP.Domain.Entities.PersonalInfo>

@{
    ViewBag.Title = "Info";
}

<h2>Info</h2>

<table>
    <tr>
        <th>UserID</th>
        <th>First Name </th>
        <th>Last Name</th>
        <th>Middle Name</th>
        <th>Birthdate</th>
        <th>Gender</th>
    </tr>
    @foreach (var info in Model)
    {
        <tr>
            <td>@info.UserID</td>
            <td>@Html.ActionLink(!string.IsNullOrEmpty(info.FirstName) ? info.FirstName : "Default Name", "Details", "Info", new { id = info.UserID }, null)</td>
            <td>@info.LastName</td>
            <td>@info.MiddleName</td>
            <td>@info.Birthdate</td>
            <td>@info.Gender</td>
        </tr>
    }
</table>
