@model NewReminderASP.Domain.Entities.PersonalInfo
@{
    ViewBag.Title = "PersonalInfo Details";
}

<link href="~/styles.css" rel="stylesheet"/>
<div class="details-details">
    <h2>Info Details</h2>


    <h2>User : @Model.Login</h2>
    <hr/>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.UserID)</dt>
        <dd>@Html.DisplayFor(model => model.UserID)</dd>
        <dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd>@Html.DisplayFor(model => model.FirstName)</dd>
        <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd>@Html.DisplayFor(model => model.LastName)</dd>
        <dt>@Html.DisplayNameFor(model => model.MiddleName)</dt>
        <dd>@Html.DisplayFor(model => model.MiddleName)</dd>
        <dt>@Html.DisplayNameFor(model => model.Birthdate)</dt>
        <dd>@Html.DisplayFor(model => model.Birthdate)</dd>
        <dt>@Html.DisplayNameFor(model => model.Gender)</dt>
        <dd>@Html.DisplayFor(model => model.Gender)</dd>
    </dl>


    
        @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }, new { @class = "btn btn-primary " })
        @Html.ActionLink("Delete", "Delete", new { id = Model.UserID }, new { @class = "btn btn-danger " })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary " })
   
</div>