@model NewReminderASP.Domain.Entities.PersonalInfo

@{
    ViewBag.Title = "Edit Personal Information";
}

<link href="~/styles.css" rel="stylesheet"/>
<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- jQuery UI library -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">

<div class="edit-container">
    <h2>Edit Personal Information</h2>
    <h2>User: @Model.Login</h2>

    @using (Html.BeginForm("Edit", "Info", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <hr/>


        @Html.HiddenFor(model => model.Login)

        @Html.HiddenFor(model => model.UserID)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "edit-control-label" })
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "edit-form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "edit-control-label" })
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "edit-form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MiddleName, new { @class = "edit-control-label" })
            @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "edit-form-control" } })
            @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Birthdate, new { @class = "edit-control-label" })
            @Html.TextBoxFor(model => model.Birthdate, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker", placeholder = "Select Date" })
            @Html.ValidationMessageFor(model => model.Birthdate, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, new { @class = "edit-control-label" })
            @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "edit-form-control" } })
            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-save"/>
        </div>
    }
</div>

<div class="row mt-2">
    <div class="col-md-6">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn-back" })
    </div>
</div>

<script>
    $.noConflict();
    jQuery(document).ready(function ($) {
        $('.datepicker').datepicker({
            dateFormat: "dd-mm-yy"
        });
    });

</script>