<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>



<div class="header-bar">
    <div class="info">
        <div class="user-info">
            <i class="fas fa-user-circle"></i>
            <span>User Login: @Context.User.Identity.Name</span>
        </div>
        <div class="logout-btn">
            <a href="@Url.Action("SignOut", "Phone")" class="btn btn-eco">
                <i class="fas fa-sign-out-alt"></i> Logout
            </a>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Phone Management</a>
                <div class="dropdown-menu">
                    <a href="@Url.Action("Index", "Phone", new { area = "ContactsArea" })" class="dropdown-item">Phone</a>
                    <a href="@Url.Action("Create", "Phone", new { area = "ContactsArea" })" class="dropdown-item">Create Phone</a>

                    <a href="@Url.Action("GetPhoneType", "Phone", new { area = "ContactsArea" })" class="dropdown-item">PhoneType</a>

                    <a href="@Url.Action("CreatePhoneType", "Phone", new { area = "ContactsArea" })" class="dropdown-item">Create PhoneType</a>



                </div>
            </li>


        </div>

    </div>
</nav>





<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer class="footer">
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    <script src="~/scripts/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>