<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta name="description" content="Your website description here">
    <meta name="keywords" content="key1, key2, key3">

    <!-- CSS файлы -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/styles.css">
</head>

<body>
    @{
        var userLogin = User.Identity.Name;
        var userLink = Url.Action("Details", "User", new { area = "AccountsArea", userName = userLogin });
    }

    <!-- Навигационная панель -->
    <header class="header-bar">
        <nav class="links-container">
            @if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Index", "User", new { area = "AccountsArea" })" class="center-link bigger-font">
                    <i class="fas fa-home"></i><span class="icon-title-gap">Home</span>
                </a>
            }
            else
            {
                <a href="@Url.Action("Calendar", "Event", new { area = "EventsArea", userName = userLogin })" class="center-link bigger-font">
                    <i class="fas fa-home"></i><span class="icon-title-gap">Home</span>
                </a>
            }
            <a href="~/Home/Contact" class="center-link bigger-font">
                <i class="fas fa-envelope"></i><span class="icon-title-gap">Contact</span>
            </a>
            <a href="~/Home/About" class="center-link bigger-font">
                <i class="fas fa-info-circle"></i><span class="icon-title-gap">About</span>
            </a>
        </nav>
        <div class="info user-info">
            <div class="user-info">
                <i class="fas fa-user-circle"></i>
                <span>User Login: <a href="@userLink">@userLogin</a></span>
                <div class="logout-btn">
                    <a href="@Url.Action("SignOut", "User")" class="btn btn-eco">
                        <i class="fas fa-sign-out-alt"></i><span class="icon-title-gap">Logout</span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <!-- Таймер -->
    <section class="header-bar" id="countdown"></section>

    <!-- Боковое меню -->
    <aside id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        @if (User.IsInRole("Admin"))
        {
            <ul class="sidebar-menu">
                <li><a href="@Url.Action("Role", "User", new { area = "AccountsArea" })">Roles</a></li>
                <li><a href="@Url.Action("Index", "Address", new { area = "AddressArea" })">Address</a></li>
                <li><a href="@Url.Action("IndexCountry", "Country", new { area = "AddressArea" })">Country</a></li>
                <li><a href="@Url.Action("Index", "Event", new { area = "EventsArea" })">Events</a></li>
                <li><a href="@Url.Action("GetEventDetails", "Event", new { area = "EventsArea" })">Event Details</a></li>
                <li><a href="@Url.Action("GetEventRecurrences", "Event", new { area = "EventsArea" })">Event Recurrence</a></li>
                <li><a href="@Url.Action("GetEventTypes", "Event", new { area = "EventsArea" })">Event Type</a></li>
                <li><a href="@Url.Action("Index", "Info", new { area = "PersonInfoArea" })">Person Info</a></li>
                <li><a href="@Url.Action("Index", "Phone", new { area = "ContactsArea" })">Phones</a></li>
                <li><a href="@Url.Action("GetPhoneType", "Phone", new { area = "ContactsArea" })">Phone Type</a></li>
            </ul>

        }
    </aside>

    <!-- Основной контент -->
    <main id="main">
        <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>
        <div class="container body-content">
            @RenderBody()
        </div>
    </main>

    <!-- Подвал -->
    <footer class="footer">
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    <!-- Скрипты -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/scripts/bootstrap.bundle.min.js"></script>
    <script src="~/scripts/locale/panelandtimer.js"></script>
</body>
</html>
