@using System.Security.Claims
@model Tuple<IEnumerable<NewReminderASP.Domain.Entities.User>, System.Security.Claims.ClaimsPrincipal>

@{
    ViewBag.Title = "User List";
    var roles = Model.Item2.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).ToList();
}

<style>

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
</style>

<div style="background-color: #f5f5f5; padding: 20px; margin-bottom: 20px;">
    <h1 style="margin-bottom: 15px;">Пользователь</h1>
    <p>Имя пользователя: @Model.Item2.Identity.Name</p>
    <p>
        Роли:
        @foreach (var role in roles)
        {
            <span style="margin-right: 10px; padding: 5px; background-color: #ccc;">@role</span>
        }
    </p>
    <p>
        <strong>Current User:</strong>
        @if (Model.Item2.IsInRole("Admin"))
        {
            <p>The current user is an administrator.</p>
        }
        else
        {
            <p>The current user is not an administrator.</p>
        }
    </p>
</div>

@Html.ActionLink("Sign Out", "SignOut", "Login", null, new { })

<h2>User List</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Email</th>
            <th>Roles</th>
        </tr>
        @foreach (var user in Model.Item1)
        {
            <tr>
                <td>@user.Id</td>
                <td>@Html.ActionLink(user.Login, "Details", new { id = user.Id })</td>
                <td>@user.Email</td>
                <td>
                    @foreach (var role in user.UserRoles)
                    {
                        <span>@role.Role.Name</span>
                    }
                </td>
            </tr>
        }
    </table>
</div>