@model IEnumerable<NewReminderASP.Domain.Entities.UserPhone>
@{
    ViewBag.Title = "Phone List";
}

<link href="~/styles.css" rel="stylesheet"/>


<div class="details-details">

    <h2>Phone List</h2>
    <hr/>
    @foreach (var userPhone in Model)
    {
        <div>
            <h3>@userPhone.Login phone</h3>
            <dl>
                <dt>Phone Number:</dt>
                <dd>@userPhone.PhoneNumber</dd>

                <dt>Phone Type:</dt>
                <dd>@userPhone.PhoneTypes</dd>

                <dt>Country:</dt>
                <dd>@userPhone.CountryName</dd>
            </dl>
            <a href="@Url.Action("Edit", "Phone", new { id = userPhone.ID })" class="btn btn-details">Edit Phone</a>
            <a href="@Url.Action("Delete", "Phone", new { id = userPhone.ID })" class="btn btn-details">Delete Phone</a>
        </div>
        <hr/>
    }
    <div class="row mt-2">
        <div class="col-md-6">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>