@model IEnumerable<NewReminderASP.Domain.Entities.UserPhone>

<link href="~/styles.css" rel="stylesheet" />

<h2>Phones</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Phone Number</th>
            <th>Phone Types</th>
            <th>Country Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var phones in Model)
        {
            <tr>
                <td>@phones.ID</td>
                <td>@Html.ActionLink(!string.IsNullOrEmpty(phones.Login) ? phones.Login : "Default Name", "Details", "Phone", new { id = phones.ID }, null)</td>
                <td>@Html.ActionLink(phones.PhoneNumber, "Details", "Phone", new { id = phones.ID }, null)</td>
                <td>@phones.PhoneTypes</td>
                <td>@phones.CountryName</td>
            </tr>
        }
        </tbody>
    </table>
</div>